/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
    list-style-type: none;
}
html {
  font-size: 62.5%;
}
hr {
  border-color: rgba(0, 0, 0, 0.1);
}
a {
  text-decoration: none;
}
/*模拟左侧的导航栏布局*/
nav {
  height: 100vh;
  width: 128px;
  background: #ddd;
  /*display: block;*/
}
body {
  display: flex;
}
.map-container {
  flex-grow: 1;
  position: relative;
}

#myMap {
  width: 100%;
  height: 100vh;
}
.card {
  background: #FFFFFF;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
  border-radius: 2px;
}
/*search box*/
.search-box {
  position: absolute;
  left: 32px;
  top: 32px;
  height: 48px;
  width: 340px;
  display: flex;
  align-items: center;
  z-index: 10;
  padding: 0 16px;

}
.icon-menu::before {
  content: '';
  background: url("img/icon-menu.png") no-repeat;
  display: block;
  width: 24px;
  height: 24px;
}
.icon-search::before {
  content: '';
  background: url("img/icon-search.svg") no-repeat;
  display: block;
  width: 24px;
  height: 24px;
}
.icon-close::before {
  content: '';
  background: url("img/icon-close.png") no-repeat;
  display: block;
  width: 24px;
  height: 24px;
}
#close-btn {
  margin-right: 8px;
  display: none;
}
.search-box input {
  flex: 1;
  font-size: 1.6rem;
  border: none;
}
input:focus {
  outline: none;
}
/*search box*/

/*scale box*/
.scale-box {
  width: 32px;
  height: 64px;
  position: absolute;
  bottom: 32px;
  right: 32px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.zoom {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.divider-h {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 8px;
}
.zoom-in {
  background: url('img/icon-add.png')
}
.zoom-out {
  background: url('img/icon-minus.png')
}
/*scale box*/

/*floor box*/
.floor-box {
  width: 32px;
  height: 160px;
  position: absolute;
  right: 32px;
  bottom: 128px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.floor-nav {
  cursor: pointer;
  width: 100%;
  text-align: center;
}
.floor-up::before {
  content: '';
  background: url('img/icon-up.png') no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
}
.floor-down::before {
  content: '';
  background: url('img/icon-down.png') no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
}
.floor-list-box {
  flex: 1;
  overflow: hidden;
}
.floor-list-item {
  cursor: pointer;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
}
.floor-list-item:hover,
.floor-nav:hover {
  background: #E5E5E5;
}
.floor-active {
  background: #D8D8D8;
  box-shadow: inset 0 1px 1px 0 rgba(117,117,117,0.50);
}
/*floor box*/

/*tool box*/
.tool-box {
  position: absolute;
  top: 32px;
  right: 32px;
  height: 48px;
  display: flex;
  align-items: center;
}
.tool-list {
  display: flex;
  align-items: center;
}
.tool-list-item {
  padding: 0 16px;
  /*分割线*/
  border-right: 1px solid rgba(0, 0, 0, .2);
}
/*消除最后一项的右边框分割线*/
.tool-list-item:last-child {
  border-right: none;
}
.tool-list-item label {
  font-size: 1.4rem;
  font-weight: bolder;
  color: rgba(0, 0, 0, .87);
  cursor: pointer;
  /*文字和图标垂直居中*/
  display: flex;
  align-items: center;
}
.tool-list-item input {
  display: none;
}
/*激活时文字颜色*/
.tool-list-item input:checked+label {
  color: #38a6d6;
}
/*悬浮时高亮*/
.tool-list-item:hover,
.tool-active {
  color: #38a6d6;
}
/*文字左边的小图标*/
label[for=show-poes]::before {
  content: '';
  background: #ccc;
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 4px;
}
label[for=show-cameras]::before {
  content: '';
  background: #ccc;
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 4px;
}
label[for=show-area-names]::before {
  content: '';
  background: #ccc;
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 4px;
}
/*tool box*/

/*panel box*/
.panel-box {
  width: 340px;
  position: absolute;
  left: 32px;
  top: 80px;
  padding: 0 16px 16px;
}

.object-name {
  font-size: 2rem;
}
.address {
  font-size: 1.4rem;
  margin: 8px 0 0 0;
  display: flex;
  align-items: center;
}
.panel-box .head-photo{
  width: 340px;
  height: 160px;
  background: #ddd;
  margin: 0 -16px 8px;
}
/*分割线的上下空隙*/
.panel-box hr {
  margin: 16px 0;
}
/*地址前的小图标map-pin*/
.address::before {
  content: '';
  background: #ddd no-repeat ;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 16px;
}

.data-list-item {
  font-size: 1.6rem;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}
/*控制选项*/
.control-list-item {
  margin: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.control-list-item label {
  font-size: 1.6rem;
  font-weight: bolder;
}

/*panel box*/

/*展开、收齐panel box*/
.hidepanel {
  /*transform: scaleY(0);*/
  display: none;
}
/*.panel-anime {
  transform-origin: top;
  transition: transform .2s ease-in-out
}*/
/*展开、收齐panel box*/

/*地图上的元素样式*/
#areas>polygon:hover {
  fill: #eee;
}
#poes>g,
#cameras>g {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
#poes>g:hover,
#poes>g:active {
  transform: scale(150%);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.33);
}
/*地图上的元素样式*/
